<!-- Vasilina Khvostikova
2024-10-28 -->
<header>
  <div class="header">Top Programming Languages</div>
  <!-- About -->
  <div class="chart-toggle">
    <label>
      <input type="radio" name="chartType" value="bar" [(ngModel)]="chartType" (change)="updateChartType('bar')" />
      Bar
    </label>
    <label>
      <input type="radio" name="chartType" value="pie" [(ngModel)]="chartType" (change)="updateChartType('pie')" />
      Pie
    </label>
    <button mat-icon-button (click)="openAboutDialog()">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</header>

<div class="flexbox">
  <!-- left column -->
  <div class="coll">
    <p>Most popular programming languages among developers.</p>
    <ul>
      <li>Source: <a href="https://survey.stackoverflow.co/2024/technology#1-programming-scripting-and-markup-languages" target="_blank">StackOverflow</a></li>
      <li># of Respondents: 60,171</li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>Language</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lang of languages">
          <td>{{ lang.language }}</td>
          <td>{{ lang.percent }}%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- right column -->
  <div class="col2">
    <canvas baseChart 
            [type]="chartType"
            [data]="chartData"
            [options]="chartOptions">
    </canvas>
  </div>
</div>

<!-- footer -->
<footer>
  &copy; 2024, <a href="mailto:khvostiv@sheridancollege.ca">Vasilina Khvostikova</a>
</footer>
